.form {
  max-width: 1100px;
  margin: 0 auto;
  padding: var(--spacing-400);
}

.input-ctrl {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  width: 100%;
}

.input-label {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-700);
}

.input {
  appearance: none;
  border: 0;
  padding: var(--spacing-100);
  background-color: var(--color-stone-200);
  border-radius: var(--rounding-100);
  width: 100%;

  &:focus-visible {
    outline: 2px solid var(--color-stone-400);
  }
}

.character-portrait-fieldset {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(var(--size-500), 1fr));
  gap: var(--spacing-500);
  padding: 0;
  border: 0;
}

.character-portrait-label {
  display: block;
  line-height: 0;
  border-radius: var(--rounding-300);
  overflow: hidden;
  cursor: pointer;
  transition:
    box-shadow 0.2s ease-out,
    outline 0.3s ease-in-out,
    transform 0.4s ease-in-out;

  &:hover,
  &:has(input:checked) {
    transform: scale(1.05);
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.25);
    z-index: var(--z-index-700);
  }
}

.character-portrait-input {
  display: none;
}
