.form {
}

.input-ctrl {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  max-width: 400px;
  width: 100%;
}

.input-label {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-700);
}

.input {
  appearance: none;
  border: 0;
  padding: var(--spacing-100);
  background-color: var(--color-stone-200);
  box-shadow: inset 0 0 1px 0 var(--color-stone-500);
  border-radius: var(--rounding-100);
  width: 100%;

  &:focus-visible {
    outline: 2px solid var(--color-stone-400);
  }
}

.character-portrait-fieldset {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(var(--size-500), 1fr));
  gap: var(--spacing-500);
  padding: 0;
  padding-top: var(--spacing-100);
  border: 0;
}

.character-portrait-label {
  --transition-dur: 0.2s;

  display: block;
  line-height: 0;
  border-radius: var(--rounding-300);
  overflow: hidden;
  cursor: pointer;
  transition:
    box-shadow var(--transition-dur) ease-out,
    outline var(--transition-dur) ease-in-out,
    transform var(--transition-dur) ease-in-out;

  &:hover,
  &:has(input:checked) {
    transform: scale(1.025);
    z-index: var(--z-index-700);
  }

  &:has(input:checked) {
    box-shadow: 0 0 15px 10px color-mix(in srgb, var(--color-blood-900) 40%, transparent);
  }
}

.character-portrait-input {
  display: none;
}
