.inline {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  text-align: inherit;
}

.top {
  align-items: flex-start;
}

.bottom {
  align-items: flex-end;
}

.right {
  align-items: flex-end;
}

.center {
  align-items: center;
}
