.item-shop-item {
  position: relative;

  &.unaffordable {
    cursor: not-allowed;
  }
}

.item-shop-item-btn {
  display: inline-flex;
  width: var(--card-width);
  height: var(--card-width);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--color-stone-400);
  background: none;
  background: linear-gradient(
    to bottom,
    var(--color-stone-900),
    var(--color-stone-700),
    var(--color-stone-900)
  );
  padding: var(--spacing-200);
  border-radius: var(--rounding-200);
  box-shadow: 0 var(--spacing-100) var(--spacing-300) calc(var(--spacing-200) * -1)
    var(--color-stone-700);
  overflow: hidden;
  transition-duration: var(--anim-dur-300);
  transition-timing-function: var(--anim-easing-100);
  transition-property: transform, box-shadow;

  &:hover {
    transform: translateY(calc(-1 * var(--spacing-100)));
    box-shadow: 0 var(--spacing-200) var(--spacing-400) calc(var(--spacing-100) * -1)
      var(--color-stone-700);
  }
}

.item-shop-item-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: var(--rounding-200);
  color: var(--color-stone-200);
  font-size: var(--font-size-400);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  position: absolute;
  z-index: 90;
  top: 0;
  left: 0;
  width: var(--card-width);
  height: var(--card-width);

  span {
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    padding: var(--spacing-100) var(--spacing-200);
    box-shadow: var(--shadow-900);
    clip-path: var(--clip-path);
  }
}
