.stack {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  text-align: inherit;
}

.left {
  align-items: flex-start;
}

.right {
  align-items: flex-end;
}

.center {
  align-items: center;
}
