.stats-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
}

.stat-icon {
  border-radius: var(--rounding-100);
  width: var(--size-150);
  height: var(--size-150);
  box-shadow: 0 2px 3px -1px var(--color-stone-900);
}

.stat-val {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounding-100);
  background-color: var(--color-stone-100);
  color: var(--color-stone-700);
  font-size: var(--font-size-300);
  padding: var(--spacing-100) 0;
  font-weight: bold;
  min-width: var(--size-150);
  height: var(--size-150);
  box-shadow: 0 2px 3px -1px var(--color-stone-900);
}
