.play-area {
  --play-area-bleed: var(--spacing-500);
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

.play-area-debugger {
  position: fixed;
  top: var(--play-area-bleed);
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: var(--rounding-100);
  color: var(--color-stone-100);
  padding: var(--spacing-200);
}

.combat-zone {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 50vw;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.current-hand {
  position: fixed;
  z-index: 100;
  bottom: var(--play-area-bleed);
  left: 50%;
  transform: translateX(-50%);
}

.current-hand-wrapper {
  display: flex;
  gap: var(--spacing-100);
}

.play-area-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  padding: var(--play-area-bleed);
  box-sizing: border-box;
}

.discard-pile {
  position: absolute;
  right: var(--play-area-bleed);
  top: var(--play-area-bleed);
}

.draw-pile {
  position: absolute;
  right: var(--play-area-bleed);
  bottom: var(--play-area-bleed);
}

.debugger {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
}

.currentState,
.events {
  margin-bottom: 1rem;
}

.events ul {
  list-style-type: none;
  padding: 0;
}

.events li {
  margin-bottom: 0.5rem;
}
