@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600;800&family=Roboto&display=swap');
@import '../node_modules/reset-css/reset.css';

:root {
  font-size: 16px;

  /** Spacing tokens */
  --spacing-100: 0.5rem;
  --spacing-200: 0.75rem;
  --spacing-300: 1rem;
  --spacing-400: 1.5rem;
  --spacing-500: 2.5rem;

  /** Sizing tokens */
  --size-100: 1rem;
  --size-200: 2rem;
  --size-300: 4rem;
  --size-400: 8rem;
  --size-500: 12rem;
  --size-600: 18rem;
  --size-700: 22rem;

  /** Color tokens */

  /** Border-radius tokens */
  --rounding-0: 0;
  --rounding-100: 0.5rem;
  --rounding-200: 1rem;
  --rounding-300: 2rem;
  --rounding-400: 4rem;
  --rounding-500: 8rem;
  --rounding-1000: 100%;

  /** Animation duration */
  --anim-dur-100: 0.1s;
  --anim-dur-200: 0.2s;
  --anim-dur-300: 0.3s;
  --anim-dur-400: 0.6s;

  /** Animation easing */
  --anim-easing-100: ease-in-out;
}

body,
button,
.dagger-cursor-override {
  cursor: url('./images/dagger.png'), auto;
}
